<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995935587210-0pc2cstmtr9bjvgh37mitnu82a62frvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995935587210-0pc2cstmtr9bjvgh37mitnu82a62frvg</string>
	<key>API_KEY</key>
	<string>AIzaSyDZllMp5Embq7t5pIjJ1P0Jegk71w9z2YU</string>
	<key>GCM_SENDER_ID</key>
	<string>995935587210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice</string>
	<key>PROJECT_ID</key>
	<string>walabproject</string>
	<key>STORAGE_BUCKET</key>
	<string>walabproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995935587210:ios:b7699f68f75d10b0349673</string>
</dict>
</plist>